<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>{{ text }}</p>
  </div>
  <ion-button (click)="onChangeText()">Change Text</ion-button>

  <ion-card>
    <ion-card-header>
      <span>Django</span>
    </ion-card-header>
    <ion-card-content>
      <p>Card</p>
    </ion-card-content>

  </ion-card>
  <ion-fab>
    <ion-icon color=" green" name="cloud"></ion-icon>
  </ion-fab>

</ion-content>